{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/bootstrap.rtl.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/asRange.css' %}">
	<link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <title>  Fati Gpt | Login</title>
</head>
<body dir='ltr'>
    <div class="container">
        <div class="row">
            <div class="col-10 col-md-7 col-lg-5 signup-login-box"><!-- start signup & login box -->
                <img src="{% static 'images/logo.png' %}">
                <form method="post">
                    {% csrf_token %}
                    <input type='hidden' name= 'next' value={{next}}>
                    <div class="input-group signup-login-form username"><!-- start password input -->
                        <input type="username" class="form-control form-control-lg signup-login-input"  placeholder="username" name='username' id='username'>
                    </div><!-- end password input -->
                    
                    {% if form.username.errors %}
                        <div class="alert alert-danger">
                            {{ form.username.errors }}
                        </div>
                    {% endif %}
                    
                    <div class="input-group signup-login-form password"><!-- start password input -->
                        
                        <input type="password" class="form-control form-control-lg signup-login-input" placeholder="password" name='password' id='password'>
                    </div><!-- end password input -->

                    {% if form.password.errors %}
                        <div class="alert alert-danger">
                            {{ form.password.errors }}
                        </div>
                    {% endif %}




                    {% for message in messages %}
                        <div class="alert alert-danger">{{message}}</div>
                    {% endfor %}

                    <button type="submit" class="btn btn-danger d-block font-12 mx-auto mb-4 login-btn" dir='ltr'><!-- remember btn -->
                    Login
                    </button>
                   
                   
                   {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}
                    
                  
                </form>
                <div class="d-flex justify-content-center">You're new to Fati GPT?<span style="margin-left: 4px;"><a href="{% url 'chatApp:register' %}" class="text-warning"> sign up </a></span></div> 
            </div><!-- end signup & login box -->
        </div>
    </div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script> 
</body>
</html>